<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UT Security</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/coba-style.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img src="/public/img/team-2.jpg" alt="">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <br><br><br><br><br><br>
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome</h1>
                                    </div>

                                    <form action="auth" method="POST" class="user">
                                        <div class="form-group">
                                            <input type="text" name="username" placeholder="Username" required class="form-control form-control-user">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" placeholder="Password" required class="form-control form-control-user">
                                        </div>
                                
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Login    
                                        </button>
                                        <br><br><br><br><br><br><br><br><br>
                                    </form>
                                    <div class="text-center" data-toggle="modal" data-target="#exampleModalRegister">
                                        <a class="small">Daftar</a>
                                    </div> 


<!-- Modal Register -->
  <div class="modal fade" id="exampleModalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
       
        <div class="modal-body">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>
                <form class="user" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" name="username" required minlength="8" style="text-transform:lowercase"
                            placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" name="name" required minlength="8" style="text-transform:capitalize"
                            placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-user" name="email" required minlength="8"
                            placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-user" id="passwordid" name="password" required onchange="check()" minlength="8"
                            placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-user" id="confirmpasswordid" name="confirmpassword" required onchange="check()" minlength="8"
                            placeholder="Confirm Password">
                    </div>
                   
                    <div class="text-center">
                        <button class="btn btn-primary btn-user" formaction="/admin/add" id="submit" disabled>Register Account</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Register -->
<div class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
       
        <div class="modal-body">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>
                <form class="user">
                    
                    <div class="form-group">
                        <p class="mb-4">Yakin ingin menghapus data?</p>
                    </div>
                    <div class="text-center">
                        <a href="login.ejs" class="btn btn-primary btn-user">
                            Register Account
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script>
        function check() {
        if(document.getElementById('passwordid').value ===
                document.getElementById('confirmpasswordid').value) {
            document.getElementById('submit').disabled = false;
        } else {
            document.getElementById('submit').disabled = true;
        }
    }
    
    function cap()
        {
            console.log('run');
            document.getElementById('edit_name_id').innerHTML =  document.getElementById('edit_name_id').innerHTML.toUpperCase();
        }
    </script>
    

</body>

</html>